.name:hover {
  text-decoration: underline;
}

.comment:hover {
  background-color: rgba(169, 247, 247, 0.103);
  color: white;;
}
.commentT:hover {
  color: rgb(167, 241, 241);;
}
.retweet:hover {
  background-color: rgba(116, 124, 240, 0.144);
  color:  rgb(116, 124, 240);
}
.retweetT:hover {
  color:  rgb(116, 124, 240);
}
.like:hover {
  background-color: rgba(212, 240, 161, 0.267);
  color: rgba(212, 240, 161, 0.185);
}
.likeT:hover {
  color: rgb(212, 240, 161);
}
.upload:hover {
  background-color: rgba(240, 161, 214, 0.192);
  color:rgb(240, 161, 214);
}
.uploadT:hover {
  color: rgb(240, 161, 214);
}


